.certificat {
  margin-top: 104px;
  h2 {
    margin-bottom: 30px;
    color: #2c2d2e;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    span {
      color: #ef7c00;
    }
  }
}
