@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* img {
  width: 100%;
} */
